@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
	--white:  #EDF3ED ;
	--pink: #8B21FB;
	--orange: #ff7800;
	--black:  #130f40;
	--light-color: #666;
	--border-bold: .5rem solid var(--black);
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.10);
	--border:2rem solid rgba(0,0,0,.1);
	--outline:1rem solid rgba(0,0,0,.1);
	--outline-hover:.2rem solid var(--black);
	--green: #58C383;
	--bg: #4FC7E9;
	--suave: #DFD9ED;
}


*{
	font-family: 'poppins', sans-serif;
	margin: 0 ;padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;

}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

section{
	padding: 2rem;
}

.btn,.option-btn,.delete-btn{
	display: block;
	width: 100%;
	text-align: center;
	background-color: var(--pink);
	color: var(--white);
	font-size: 1.7rem;
	padding: 1.2rem 3rem;
	border-radius: .5rem;
	cursor: pointer;
	margin-top: 1rem;
}

.option-btn i,.delete-btn i{
	padding-right: .5rem;

}


option-btn{
	background-color: var(--orange);
}
.btn:hover,.option-btn:hover,.delete-btn:hover{
	background-color: var(--black);
}

.btn,.option-btn,.delete-btn:hover{
	background-color: var(--black);
}

delete-btn{
	margin-top: 0;
	background-color: var(--pink);
}

.message{
	background-color: var(--green);
	position: sticky;
	top: 0; left: 0;
	z-index: 10000;
	border-radius: .5rem;
	background-color: var(--white);
	margin: 0 auto ;
	padding: 1.5rem 2rem;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between ;
	gap: 1.5rem;
}

.message span{
	font-size: 2rem;
	color: var(--black);
}

.message i {
	font-size: 2.5rem;
	color: var(--black);
	cursor: pointer;
}

.message i:hover{
color: var(--pink);
}

.header{
	background-color: var(--bg);
	position: sticky;
	top: 0; left: 0;
	z-index: 1000;
}

.header .flex{
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	max-width: 1200px;
	margin:0  auto ;
}


.header .flex .navbar a{
	margin-left: 2rem;
	font-size: 2rem;
	color: var(--white);
}


.header .flex .navbar a:hover{
	color: yellow;
}

.header .flex .vist a{
	margin-left: 2rem;
	font-size: 2rem;
	color: var(--white);
}

.header .flex .logo{
	margin-right: auto;
	font-size: 2.5rem;
	color: var(--white);
}


.header .flex .vist a:hover{
	color: yellow;
}


#menu-btn{
margin-left: 2rem;
font-size: 3rem;
cursor: pointer;
color: var(--white);
display: none;
}


.add-product-form{
	max-width: 50rem;
	background-color: var(--bg);
	border-radius: .5rem;
	padding: 2rem;
	margin:0 auto;
	margin-top: 2rem;
}

.add-product-form h3{
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;

}

.add-product-form .box{
	text-transform: none;
	padding: 1.2rem 1.4rem;
	font-size: 1.7rem;
	color: var(--black);
	border-radius: .5rem;
	border-color: var(--white);
	margin:1rem 0;
	width: 100%;
}

.display-alumnos-table-vista h3{
	margin-left: 3rem;
	font-size: 2rem;
	color: var(--black);
}

.display-alumnos-table-vista table{
	width: 100%;
	text-align: center;
	padding: 2rem;

}

.display-alumnos-table-vista table thead th{
	padding:1rem;
	font-size: 1.7rem;
	background-color: var(--black);
	color: var(--white);
}

.display-alumnos-table-vista table  td{
	padding:2rem;
	font-size: 1.7rem;
	color: var(--black);
}

.display-alumnos-table-vista table td: first-child{
	padding: 0;
}

.display-alumnos-table-vista table tr:nth-child(even){
	background-color: var(--suave);
}


.display-alumnos-table table{
	width: 100%;
	text-align: center;
}

.display-alumnos-table table thead th{
	padding:1rem;
	font-size: 1.7rem;
	background-color: var(--black);
	color: var(--white);
}

.display-alumnos-table table  td{
	padding:.5rem;
	font-size: 1.5rem;
	color: var(--black);
}

.display-alumnos-table table td: first-child{
	padding: 0;
}

.display-alumnos-table table tr:nth-child(even){
	background-color: var(--suave);
}


.display-alumnos-table .empty{
	margin-bottom: 2rem;
	text-align: center;
	background-color: var(--bg);
	color: var(--black);
	font-size: 2rem;
	padding: 1.5rem;

}

.edit-form-container{
	position: fixed;
	top: 0;left: 0;
	z-index: 1100;
	background-color: var(--pink);
	padding: 1rem;
	display: none;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%; 
		}

.edit-form-container form{
	width: 30%; 
	border-radius: .5rem;
	background-color: var(--white);
	text-align: center;
	padding: 1rem;
}

.edit-form-container form .box{
	width: 100%;
	background-color: var(--bg);
	border-radius: .2rem;
	margin: .4rem 0 ;
	font-size: 1.5 rem;
	color: var(--black);
	padding: 1.2rem 1.2rem;
	text-transform: none;

}

.display-alumnos-table{
		overflow-x:scroll;
	}

	



























@media(max-width: 991px){

	html{
		font-size:55%;
	}
.display-alumnos-table{
		overflow-x:scroll;
	}
	
}

@media(max-width: 768px){

	#menu-btn{
		display: inline-block;
		transition: .2s linear;
	}

	#menu-btn.fa-times{
		transform: rotate(180deg);
	}

	.header .flex .navbar{
		position: absolute;
		top: 99%; left: 0; right: 0;
		background-color: var(--bg);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: .2s linear;
	}

	.header .flex .navbar.active{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.header .flex .navbar a{
		margin: 2rem;
		display: block;
		text-align: center;
		font-size: 2.5rem;
	}

	.display-alumnos-table{
		overflow-x:scroll;
	}

	.display-alumnos-table table{
		width: 70rem;
	}
}




@media(max-width: 450px){

	html{
		font-size:50% ;
	}
}
